%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title Your Prompt is Rejected
  %body{style: "font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;"}
    %table{border: "0", cellpadding: "0", cellspacing: "0", style: "max-width: 600px; margin: 0 auto; background-color: #ffffff;", width: "100%"}
      %tr
        %td{align: "left", style: "padding: 10px 10px;", valign: "top"}
          %p{style: "color: #333333; margin-bottom: 0px;"} Hello
      %tr
        %td{align: "left", style: "padding: 0px 20px;", valign: "top"}
          %p{style: "color: #333333; margin-bottom: 0px;"}
            Thank you for submitting on our website. We have received your submission but it is declined.
            %h2 Reason:
            %p 
              = @reason

          
      %tr
        %td{align: "left", style: "padding: 10px 10px;", valign: "top"}
          %p{style: "color: #333333; margin-bottom: 0px;"} Thank you 
          %p{style: "color: #333333; margin-bottom: 0px;"} 301 Skills | Generative AI Prompt Bank