

-@users = User.all
.banner
    .banner-centered
        %p.banner-title Admin History


.container-md.mb-5.mt-5
    .row.justify-content-center
        .btn-group.col-3{"aria-label" => "Basic example", role: "group"}
            =link_to 'Current List', admin_manager_path, method: :get, class: 'btn purple-submit-btn'
            =link_to 'Admin History', admin_history_path, method: :get, class: 'btn purple-submit-btn'
        .mt-4
        .col-9
            .container.border-admin-container
                %table.table
                    %thead
                        %tr
                            %th.col-4 Emaill address
                            %th.col-4 Account type
                    %tbody
                        - @users.each do |user|
                            - if !user.active_state == true
                                %tr
                                    %td
                                        = user.email
                                    %td
                                        = user.account_type
                                                   
                        - @users.each do |user|
                            - if !user.active_state == false
                                %tr
                                    %td
                                        = user.email
                                    %td
                                        = user.account_type
                                              


