div.submit_banner {
    width: 100%;
    font-size: 45px;
    color: white;
    background-color: rgb(68, 00, 153);
}

.purple-submit-btn {
    background-color: rgb(68, 00, 153);
    color: white;
}

.purple-submit-btn:hover {
    background-color: rgb(100, 0, 200);
    color: white;
}