.banner
    .banner-centered
        %p.banner-title Staff Entrance
.after-banner
    .after-banner-centered.banner-centered-flex

.container.mt-5
    %form(action="/manage" method="get")
        %button.btn.btn-outline-dark.btn-lg.mb-3.form-control{type: "submit"} Manage Prompt
    %form(action="/admin_manager" method="get")
        %button.btn.btn-outline-dark.btn-lg.mb-3.form-control{type: "submit"} Manage Staff

    
    
