.banner
  .banner-centered
    %p.banner-title Privacy
.after-banner
  .after-banner-centered
    %p.large-banner-text How we use your data
.container-sm.text-center
  %br/ 
  %br/ 
  %h2 Privacy Policy
  %h4
    At AI Prompt Bank, we understand the importance of privacy and
    are committed to protecting the personal information of our users. This Privacy
    Policy outlines how we collect, use, disclose, and safeguard your information when you
    visit our website.
  %br/
  %h2 Information We Collect
  %br/
  %h4
    When you visit our website, we may collect certain information about you voluntarily
    provided by you or automatically collected through the use of cookies and similar technologies.
    This information may include:
  %br/
  %h4
    Personal Information: Such as your name, email address, and other contact details provided
    when you register for an account.
  %br/
  %h4
    Usage Data: Information about your interaction with our website, such as your IP address,
    browser type, pages visited, and referring website.
  %br/  
  %h4 How We Use Your Information
  %h4.white-text We may use the information we collect for various purposes, including but not limited to:
  %br/ 
  %br/ 