%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 404 Not Found
  %body
    %h1 404 Not Found
    %p Sorry, the page you are looking for does not exist.
    = link_to("Back to home page", "/home")
