%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 422 Unprocessable Entity
  %body
    %h1 422 Unprocessable Entity
    %p Sorry, the change you wanted was rejected.
    = link_to("Back to home page", "/home")