%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 500 Internal Server Error
  %body
    %h1 500 Internal Server Error
    %p Sorry, but something went wrong.
    = link_to("Back to home page", "/home")